<div class="container-fluid">
  <div class="row">
    <form (submit)="onSubmit(quote.value)">
      <div>
        <label for="name">Write Quote Here!</label>
        <input type="text" #quote>
      </div>
      <br>
      <div class="form-group">

        <label for="author">Author:</label>
        <input type="text" [(ngModel)]="author" name="author">
      </div>
      <br>


    </form>

  </div>
  <p>QUOTE:{{quote}}</p>
  <p>AUTHOR:{{author}}</p>
  <button (click)="onClick()" type="submit">Submit Quote</button>
  <ul>
    <li *ngFor="let quote of quotes; let i = index">{{i+1}}: {{quote}}
      <button (click)="deleteQuote(quote)" type="submit">Delete Quote</button>
    </li>


  </ul>